*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #203354;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 105px;
    padding: 28px 32px;
    overflow: hidden;
    transition: 0.6s, ease-out;
}

.

img {
    border-radius: 4px;
    height: auto;
    max-width: 100%;
}

.error {
    display: none ;
}